﻿body {
    background-image: url('../images/as.jpg');
    background-attachment: fixed;
    background-size: 1650px 1200px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

input {
    color: black;
    background: white;
    border-radius: 6px;
    border: 1px solid gray;
}

h2 {
    font-size: 4.0rem;
    color: white;
    font-family: Mania;
    text-shadow: 2px 6px #151515;
    text-align: center;
    
}

p1 {
    font-size: 150%;
    color: white;
    font-family: sans-serif;
    padding-top: 1px;
    text-align: center;
    margin-left: 15px;
}

p2 {
    font-size: 100%;
    color: white;
    font-family: sans-serif;
    padding-top: 1px;
}

h4 {
    font-size: 4.0rem;
    color: white;
    font-family: Mania;
    padding-top: 1px;
}

h3 {
    font-size: 200%;
    color: white;
    font-family: Mania;
    text-align: left;
    border: 1px solid #151515;
    border-radius: 6px;
    width: 400px;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(#151515, black);
    " margin-bottom: 50px;
}

button {
    border-radius: 30px;
    border: 1px solid #151515;
    background-image: linear-gradient(#151515, black);
    color: white;
    width: 100%;
    margin-top: 0.5em;
}

    button:hover {
        color: white;
        background-image: linear-gradient(#02b055, #02b055);
        border-radius: 30px;
        border: 1px solid #02b055;
        cursor: pointer;
    }

table {
    margin: auto;
}

.hom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foot {
    padding-top: 2em;
    color: #dcdcdc;
    
}

input:hover {
    color: white;
    background-color: #02b055;
    border-radius: 6px;
    cursor: pointer;
}

.act:hover {
    color: #02b055;
    border-radius: 6px;
    cursor: pointer;
}

th {
    text-align: left;
    color: white;
    text-shadow: 2px 2px #151515;
}

.act {
    text-align: right;
    color: white !important;
    text-shadow: 2px 2px #151515;
}

.pic {
    text-align: center;
    margin-left: 18%;
}

