﻿body {
    background-image: url('../images/as.jpg');
    background-attachment: fixed;
    background-size: 1650px 1200px;
    font-family: sans-serif;
}



h2 {
    font-size: 2rem;
    color: white;
    font-family: Mania;
    text-align: left;
    padding-top: 1px;
    text-shadow: 2px 4px #151515;
}

h3 {
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(#151515, black); /*Rittal Powerpink = #EF067D*/
    font-family: Mania;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-radius: 6px;
    padding: 5px;
    margin-left: -2px;
    margin-right: -2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

h4 {
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(#151515, black); /*Rittal Powerpink = #EF067D*/
    font-family: Mania;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 5px;
    margin-left: -2px;
    margin-right: -2px;
}

p {
    font-size: 100%;
    color: #151515;
    padding-top: 1px;
}

.imp {
    border: 6px solid lightgray;
    border-radius: 100px;
    height: 170px;
    width: 170px;
}

td {

    text-align: center;
    padding-right: 3em;
}

.navi {
    font-family: Mania;
    color: white !important;
    font-size: 110%;
}

    .navi:hover {
        color: #02b055 !important;
    }

.ravi {
    font-family: Mania;
    color: white !important;
    margin-left: 720px;
    text-align: right;
    font-size: 110%;
}

    .ravi:hover {
        color: #02b055 !important;
    }

.nev:hover {
    color: #02b055 !important;

}

.header {
    position: fixed;
    width: 100%;
}

textarea {
    height: 600px;
    width: 240px;
    margin-top: 50px;
    background-image: linear-gradient(#151515, black);
    color: white;
    border: 1px solid white;
    border-radius: 9px;
}

.map1 {
    height: 750px;
    width: 750px;
    border: 3px solid white;
    border-radius: 9px;
}

input {
    color: black;
    background: white;
    border-radius: 6px;
    border: 1px solid gray;
}

    input:hover {
        color: white;
        background-color: #02b055;
        border-radius: 6px;
        cursor: pointer;
    }

.act {
    text-align: right;
    color: white !important;
}

.button1 {
    border-radius: 30px;
    border: 1px solid white;
    background-color: #151515;
    color: white;
    margin-left: -250px;
    font-size: 3rem;
    font-family: Mania;
    background-image: url('https://clipartstation.com/wp-content/uploads/2018/09/delorean-clipart-5.png');
    background-size: 400px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

    .button1:hover {
        color: white;
        background-color: #02b055;
        border: 1px solid white;
        border-radius: 30px;
        cursor: pointer;
    }

.button2 {
    border-radius: 30px;
    border: 1px solid white;
    background-color: #151515;
    color: white;
    margin-right: -250px;
    font-size: 3rem;
    font-family: Mania;
    background-image: url('https://pngimage.net/wp-content/uploads/2018/06/thomas-the-tank-engine-png.png');
    background-size: 400px 350px;
    background-repeat: no-repeat;
    background-position: center;
}

    .button2:hover {
        color: white;
        background-color: #02b055;
        border: 1px solid white;
        border-radius: 30px;
        cursor: pointer;
    }


.butt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.pic {
    height: 40px;
    width: 90px;
}