﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/jl.ico" />
    <title>@ViewData["Title"] - JampL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header ><!--class="header"-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-image: linear-gradient(#151515, black) !important; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;">
            <div class="container" >
                <a class="navbar-brand" style="font-family: Mania; font-size: 150%; color: white;" asp-area="" asp-controller="Home" asp-action="Index"><img class="pic" src="~/images/jampL.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" >
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link navi" asp-area="" asp-controller="Home" asp-action="Pkw">PKW</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navi" asp-area="" asp-controller="Home" asp-action="Busbahn">Bus & Bahn<!--img height="20px" width="20px" src="https://cdn2.scratch.mit.edu/get_image/gallery/7285065_170x100.png" /--></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ravi" asp-area="" asp-controller="Home" asp-action="Login">Abmelden</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-image: linear-gradient(#151515, black); border-top-left-radius: 50px; border-top-right-radius: 50px;" >
        <div class="container">
            &copy; 2020 | APES | <a class="act" href="https://gitlab.com/t1ny/hackathon">GitLab</a> | <a class="act" asp-area="" asp-controller="Home" asp-action="Privacy">Impressum</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
