﻿@{
    ViewData["Title"] = "Home";
}

    <div class="butt">
                    <button class="button1" style="height: 500px; width: 500px; float: left;" onclick="window.location.href = 'https://localhost:44394/Home/Pkw';">PKW</button>
                    <button class="button2" style="height: 500px; width: 500px; float: right;" onclick="window.location.href = 'https://localhost:44394/Home/Busbahn';">Bus & Bahn</button>
    </div>