﻿@{
    ViewData["Title"] = "PKW";
}

    <table style="float: left;">
        <tr>
            <td>
                <input class="in" name="Name" id="nec" size="25" maxlength="35" placeholder="Startpunkt" />
            </td>
        </tr>
        <tr>
            <td>
                <input class="in" name="Name" id="nec" size="25" maxlength="35" placeholder="Endpunkt" />
            </td>
        </tr>
        <tr>
            <td>
                <textarea>--API Daten in Textform--</textarea>
            </td>
        </tr>
    </table>

<table style="float: right;">
    <tr>
        <td>
            <img class="map1" src="~/images/Map.jpg" />
        </td>
    </tr>
</table>