﻿@{
    ViewData["Title"] = "Impressum";
}

    <div class="hom">
        <table class="tab">
                <th colspan="5">
                    <h3>Backend</h3>
                </th>
            </tr>
            <tr>
                <td>
                    <img class="imp" src="~/images/Wn.jpg" />

                    <p><strong>Wiklas Neber</strong></p>
                    <p><strong>C#</strong></p>
                </td>
                <td>
                    <img class="imp" src="~/images/marie.jpg" />

                    <p><strong>Marie Schülert</strong></p>
                    <p><strong>SQL</strong></p>
                </td>
                <td>
                    <img class="imp" src="~/images/david.jpg" />

                    <p><strong>David Maleska</strong></p>
                    <p><strong>Python</strong></p>
                </td>
                <td>
                    <img class="imp" src="~/images/fynn.jpg" />

                    <p><strong>Fynn Witzel</strong></p>
                    <p><strong>Java</strong></p>
                </td>
            </tr>
            <tr>
                <th colspan="5">
                    <h4>Frontend</strong></h4>
                </th>
            </tr>
            <td></td>
            <td>
                <img class="imp" src="~/images/Wiklasneber.jpg" />

                <p><strong>Niklas Weber</strong></p>
                <p><strong>.Net Core</strong></p>
            </td>
            <td>
                <img class="imp" src="~/images/pp.jpg" />

                <p><strong>Luca Azcarate Metz</strong></p>
                <p><strong>.Net Core</strong></p>
            </td>
        </table>
    </div>