﻿@{
    ViewData["Title"] = "Registrierung";
    Layout = "~/Views/Shared/_LayoutH.cshtml";
}

<div class="hom">
    <table>
        <tr>
            <th>Benutzername:</th>
            <td>
                <input class="in" name="Name" id="nec" size="25" maxlength="35" />
            </td>
        </tr>
        <tr>
            <th>Passwort:</th>
            <td>
                <input type="password" class="in" name="Name" id="nec" size="25" maxlength="35" />
            </td>
        </tr>
        <tr>
            <td colspan="2">               
                    <button onclick="window.location.href = 'https://localhost:44394/Home/Login';">Registrieren</button>
            </td>
        </tr>
    </table>
    <footer class="foot" style="background-color: transparent; text-align: center;">
        <div>
            &copy; 2020 | APES | <a class="act" href="https://gitlab.com/t1ny/hackathon">GitLab</a>
        </div>
    </footer>
</div>
